@CHARSET "ISO-8859-1";

hr {
    border-top-color: #337ab7 !important;
}

a {
    color: #337ab7;
}

.bordered-div {
    border: 1px solid #337ab7 !important;
}

.hypercar-history-navbar .navbar-nav > li > a,
.hypercar-history-navbar .navbar-nav > li > #search-container > a,
.hypercar-history-navbar .navbar-nav > li > a:hover,
.hypercar-history-navbar .navbar-nav > li > div > div > a:hover,
.hypercar-history-navbar .navbar-nav > li > ul > li > a,
.hypercar-history-navbar .navbar-nav > li > ul > li > a:hover,
.hypercar-history-navbar .navbar-nav > .open > a,
.hypercar-history-navbar .navbar-nav > .open > a:hover,
.hypercar-history-navbar .navbar-nav > .open > a:focus,
.language-selection-div > div > h4
.language-selection-div > div > h4:hover,
.language-selection-div > div > h4:focus,
.list-group-element:hover,
.list-group-element:focus {
    color: #337ab7 !important;
}

.content-search-input {
    background: #337ab7;
}

.content-search-input:hover {
    background: #337ab7;
}

.content-search-input:focus {
    background-color: #337ab7;
}

.manufacturer-colour {
    color: #337ab7;
}

.measure-unit-text {
    color: #337ab7;
}

.hypercar-history-footer h4 {
    color: #337ab7;
}

.preview figcaption {
    box-shadow: 0 0 0 0 #2c3f52;
}

.no-touch .preview figure:hover figcaption,
.preview figure.cs-hover figcaption {
    box-shadow: 0 0 0 10px #2c3f52;
}

.list-group > a > h5 {
    color: #337ab7;
}

.technology-stack .row {
    border-color: #337ab7 !important;
}

.grid figcaption {
    background: #2c3f52;
}

.grid figcaption a {
    background: #337ab7;
}

.toggle-button {
    background: #337ab7 none;
}

.toggle-button:hover {
    background-color: #23547D !important;
}

.manufacturer-selector {
    color: #337ab7;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    background-color: #337ab7;
    border-color: #23547D;
}

.pagination > li > a,
.pagination > li > a:hover {
    color: #337ab7;
}

#cookiesdirective > div > a {
    color: #337ab7 !important;
}