/target
/deployments
/com.tcp.data.model.*
*.log
/logs
/.idea/
.idea/
web/*.iml
data/*.iml
*.sql
data/src/test/
data/target/
web/com.tcp.data.model.car.Car/
web/deployments/
web/logs/
web/src/main/java/
web/src/test/java/
web/target/
