/deployments
/com.phistory.data.model.*
*.log
/logs
/.idea/
.idea/
web/*.iml
data/*.iml
pagani-history.iml
*.sql
data/src/test/
data/target/
web/src/main/java/
web/src/test/java/
web/target/
data/src/main/java/com/tcp/
