@CHARSET "ISO-8859-1";

hr {
    border-top-color: #e40421 !important;
}

a {
    color: #e40421;
}

a:hover {
    color: #a50319;
}

.bordered-div {
    border: 1px solid #e40421 !important;
    background: #ffffff none !important;
}

.manufacturer-history-navbar .navbar-nav > li > a,
.manufacturer-history-navbar .navbar-nav > li > #search-container > a,
.manufacturer-history-navbar .navbar-nav > li > a:hover,
.manufacturer-history-navbar .navbar-nav > li > div > div > a:hover,
.manufacturer-history-navbar .navbar-nav > li > ul > li > a,
.manufacturer-history-navbar .navbar-nav > li > ul > li > a:hover,
.manufacturer-history-navbar .navbar-nav > .open > a,
.manufacturer-history-navbar .navbar-nav > .open > a:hover,
.manufacturer-history-navbar .navbar-nav > .open > a:focus,
.language-selection-div > div > h4
.language-selection-div > div > h4:hover,
.language-selection-div > div > h4:focus,
.list-group-element:hover,
.list-group-element:focus {
    color: #e40421 !important;
}

.manufacturer-history-navbar {
    background: #ffffff none !important;
}

.navbar-toggle {
    background-color: #ddd;
    border-color: initial !important;
}

.content-search-input {
    background: #e40421;
    color: white;
}

.content-search-input:hover {
    background: #e40421;
}

.content-search-input:focus {
    background-color: #e40421;
}

#content-search-span {
    color: #ffffff;
}

.manufacturer-colour {
    color: #e40421;
}

.measure-unit-text {
    color: #e40421;
}

.manufacturer-history-footer {
    background: #ffffff none !important;
}

.manufacturer-history-footer h4 {
    color: #e40421;
}

.preview-div {
    background-color: #f5f5f5;
}

.preview figcaption {
    box-shadow: 0 0 0 0 #8f0318;
}

.no-touch .preview figure:hover figcaption,
.preview figure.cs-hover figcaption {
    box-shadow: 0 0 0 10px #8f0318;
}

.list-group > a > h5 {
    color: #e40421;
}

.technology-stack .row {
    border-color: #e40421 !important;
}

.grid figcaption {
    background: #8f0318;
}

.grid figcaption h3 {
    color: #fff;
}

.grid figcaption a {
    background: #e40421;
    color: #fff;
}

.toggle-button {
    color: #ffffff;
    background: #e40421 none;
}

.toggle-button:hover {
    background-color: #a50319 !important;
    color: #ffffff !important;
}

.toggle-button i:hover {
    color: #ffffff !important;
}

.manufacturer-selector {
    color: #e40421;
}

.pagination > .active > a,
.pagination > .active > a:hover {
    background-color: #e40421;
    border-color: #a50319;
}

.pagination > li > a,
.pagination > li > a:hover {
    color: #e40421;
}