@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    font-size: 16px;
    background-color: #777;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none !important;
}

hr {
    margin: 10px 0px;
    border-top-color: #337ab7 !important;
}

.big-text {
    font-size: 32px;
    font-weight: bold;
}

.border-radiused-img {
    border-radius: 3px;
}

.bordered-div {
    border: 1px solid #337ab7 !important;
    background: #ffffff none !important;
}

.pagani-history-navbar .navbar-nav {
    width: 100%;
}

.pagani-history-navbar .navbar-nav > li > a,
.pagani-history-navbar .navbar-nav > li > #search-container > a,
.language-selection-div > div > h4 {
    font-size: 18px;
    color: #337ab7;
}

.pagani-history-navbar .navbar-nav > li > a:hover,
.pagani-history-navbar .navbar-nav > li > div > div > a:hover,
.pagani-history-navbar .navbar-nav > .open > a,
.pagani-history-navbar .navbar-nav > .open > a:hover,
.pagani-history-navbar .navbar-nav > .open > a:focus,
.language-selection-div > div > h4:hover,
.language-selection-div > div > h4:focus,
.list-group-element:hover,
.list-group-element:focus {
    color: #337ab7;
    font-weight: 800;
}

.pagani-history-navbar {
    min-height: 8em;
    margin: 20px 20px 20px;
    background: #ffffff none !important;
}

.pagani-history-navbar-brand {
    padding-top: 3px;
    height: 100% !important;
    width: 100% !important;
}

@media (max-width: 768px) {
    .pagani-history-navbar-brand {
        width: 80% !important;
    }
}

.pagani-history-navbar .navbar-nav > li > a,
.pagani-history-navbar .navbar-nav > li > #search-container > a,
.pagani-history-navbar .navbar-nav > li > div > div {
    padding-top: 1em;
    padding-bottom: 0;
}

.pagani-history-navbar .navbar-nav > li {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .pagani-history-navbar .navbar-nav > li > a,
    .pagani-history-navbar .navbar-nav > li > #search-container > a,
    .pagani-history-navbar .navbar-nav > li > div > div {
        padding-top: 1.3em;
    }

    .pagani-history-navbar .navbar-nav > li {
        margin-top: 0.85em;
        margin-bottom: 1.7em;
    }
}

.search-container-li {
    margin-top: 0 !important;
}

.navbar-header {
    height: 15em;
    width: 100%;
}

.main-logo {
    margin-top: 5px;
    height: 100%;
}

.navbar-toggle {
    padding: 5px 0px 0px 2px !important;
    background-color: #ddd;
    border-color: initial !important;
    position: relative !important;
    width: 45px !important;
    height: 45px !important;
    cursor: pointer;
    margin-top: 180px;
}

.navbar-toggle i {
    font-size: 35px !important;
}

.navbar-default .navbar-nav > li > div > div > a {
    color: #777;
    cursor: default;
}

.open > a {
    height: 53px;
}

#search-container {
    min-width: 12em;
    width: auto;
    padding-left: 15px;
    margin-top: 1.7em;
}

@media (max-width: 768px) {
    #search-container {
        margin-top: 1.35em;
    }
}

#search-container > a {
    color: #777;
}

.content-search-input {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #337ab7;
    color: white;
    margin-left: 10px;
    padding-left: 15px;
}

.content-search-input:hover {
    background: #337ab7;
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
}

.content-search-input:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, .66, 1.39), border-radius 0.6s, background 0.6s ease;
    outline: none;
    box-shadow: none;
    cursor: text;
    width: 300px;
    border-radius: auto;
    border: 1px #BD1B1B;
    background-color: #337ab7;
}

@media (max-width: 575px) {
    #search-container {
        min-width: 400px;
    }

    .content-search-input:focus {
        width: 250px;
    }
}

.content-search-input:not(:focus) {
    /* for more-graceful falling back (:not browsers likely support indent) */
    text-indent: -5000px;
}

.search-icon {
    position: relative;
    left: -30px;
    cursor: pointer;
}

#content-search-span {
    color: #ffffff;
}

.cursor-pointer {
    cursor: pointer !important;
}

.blue {
    color: #337ab7;
}

.italic-font {
    font-style: italic;
}

.measure-unit-text {
    color: #3E72B4;
    font-style: normal;
}

#main-container {
    max-width: 95%;
}

.wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -300px;
    /* Pad bottom by footer height */
    padding: 0 0 300px;
}

.navbar-collapse-main-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

#main-navbar-collapse {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-divider {
    margin: 0px 0px !important;
    overflow: hidden;
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    .navbar-divider {
        visibility: visible;
        margin: 10px 10px;
        width: 100%;
    }
}

.language-selection-div {
    width: 200px;
}

.pagani-history-footer {
    background: #ffffff none !important;
    padding: 25px 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.pagani-history-footer h4 {
    color: #337ab7;
    font-weight: bold;
}

.lower-footer-row {
    padding-top: 30px
}

.main-car-list-container {
    padding-right: 15px;
}

@media (max-width: 1200px) {
    .main-car-list-container {
        padding-left: 15px;
    }
}

.cars-list-group {
    padding-left: 4px;
}

#main-car-list-div {
    margin-top: 10px;
}

.center-block {
    float: none !important
}

.cars-main-container {
    padding-top: 10px;
    padding-right: 20px;
    min-height: 90%;
    min-width: 85%;
}

.preview > div {
    padding: 0;
}

.preview-div {
    background-color: #f5f5f5;
    padding: 0;
    margin-bottom: 50px;
}

.mobile-preview-div {
    background-color: #2c3f52;
}

.mobile-preview-div > a > h3 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 15px;
}

.preview-outer {
    padding-right: 1.3% !important;
    padding-left: 1.3% !important;
}

.preview-img {
    width: auto;
    max-width: 400px;
    height: auto;
    max-height: 400px;
}

.mobile-preview-img {
    width: 100%;
}

.resizable-img {
    width: 100%
}

.preview figure img {
    z-index: 10;
}

.preview figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0 0 #2c3f52;
}

.no-touch .preview figure:hover figcaption,
.preview figure.cs-hover figcaption {
    opacity: 1;
    height: 110%;
    box-shadow: 0 0 0 10px #2c3f52;
}

.preview figcaption h3,
.preview figcaption span,
.preview figcaption a {
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    transition: opacity 0s;
}

.no-touch .preview figure:hover figcaption h3,
.no-touch .preview figure:hover figcaption a,
.preview figure.cs-hover figcaption h3,
.preview figure.cs-hover figcaption a {
    -webkit-transition: opacity 0.3s 0.2s;
    -moz-transition: opacity 0.3s 0.2s;
    transition: opacity 0.3s 0.2s;
    opacity: 1;
}

.double-line-car-model-name {
    margin-top: 63% !important;
}

@media (min-width: 991px) {
    .double-line-car-model-name {
        margin-top: 69% !important;
    }
}

@media (max-width: 531px) {
    .double-line-car-model-name {
        margin-top: 70% !important;
    }
}

.vertically-aligned-div {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    align-items: center;
}

/* Target Firefox only
   TODO: investigate how CSS flex properties work in Firefox (http://stackoverflow.com/questions/27967090/how-do-you-prevent-an-image-from-expanding-beyond-its-container) */
@-moz-document url-prefix() {
    .vertically-aligned-div {
        display: block;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
    }
}

.vertically-aligned-preview-div {
    min-height: 420px;
    height: auto;
    max-height: 500px;
    padding: 0 !important;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a {
    cursor: pointer !important;
}

.list-group {
    margin-top: 10px;
}

.list-group > a > h5 {
    color: #337ab7;
}

#main-car-details-div > .panel > .panel-body {
    padding-bottom: 0;
}

.inner-car-details-panel-body {
    padding-bottom: 0;
}

.car-details-panel-body {
    padding: 0px !important;
}

.car-details-model-name {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

#main-car-details-div {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-tabs {
    margin-bottom: 1em;
    width: 25%;
}

.car-description-well {
    background: #ffffff none;
}

#units-of-measure-dropdown {
    margin: 10px 10px 10px 0;
}

#units-of-measure-dropdown-menu {
    margin-top: 0;
    top: 45px;
}

.dl-horizontal dd {
    height: 25px;
    margin-bottom: 3px;
}

.dl-horizontal dt {
    margin-bottom: 3px;
}

.dl-horizontal-edit dd {
    height: 38px;
}

.dl-horizontal-edit dt {
    height: 38px;
}

@media (max-width: 767px) {
    .dl-horizontal dd {
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 47%;
    }

    .dl-horizontal dd {
        margin-left: 48%;
    }
}

@media (max-width: 991px) {
    .dl-horizontal dt {
        width: 35%;
    }

    .dl-horizontal dd {
        margin-left: 36%;
    }
}

.dl-horizontal dd.double-height,
.dl-horizontal dt.double-height {
    height: 55px;
}

@media (max-width: 768px) {
    .dl-horizontal dd.double-height {
        height: 25px;
    }

    .dl-horizontal dt.double-height {
        height: 50px;
    }
}

.car-materials-dd {
    height: 60px !important;
    margin-bottom: 100px !important;
}

.car-material-dt {
    width: 20% !important;
}

.car-material-dd {
    margin-left: 21% !important;
    margin-bottom: 10px !important;
}

.brake-set-train-name {
    margin-top: 0px;
    margin-left: 10px
}

.brake-set-list-group {
    margin-top: 0px;
}

.brake-set-list-group-item {
    border: 0px;
}

.resizable-dd {
    resize: vertical;
    overflow: auto;
    min-height: 150px;
    height: inherit !important;
}

.carousel {
    min-height: initial;
}

#car-pictures-carousel {
    padding-left: 0;
    padding-right: 0;
}

.car-pictures-carousel-div {
    max-height: 48em;
    height: 48em;
    padding-left: 0;
    padding-right: 0;
    background-color: black;
    border: 0;
    border-radius: 0px;
}

.index-car-pictures-carousel-div,
.index-car-pictures-carousel-div > img {
    border-radius: 4px;
}

.carousel-inner {
    max-height: 100%;
}

@media only screen and (max-width: 768px) {
    .car-pictures-carousel-div {
        max-height: 35em;
        height: 35em;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        max-height: 29em !important;
        height: 29em;
    }
}

@media only screen and (max-width: 531px) {
    .car-pictures-carousel-div {
        max-height: 25em;
        height: 25em;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        max-height: 19em !important;
        height: 19em;
    }
}

.carousel-inner > .item > a > img {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    max-height: 40em;
    height: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 2em auto 3em;
    width: auto;
    height: auto;
    max-height: 40em;
}

.carousel-indicators {
    bottom: 0;
    left: 42%;
    width: 70%;
}

.carousel-caption {
    right: 15%;
    left: 10%;
    padding-bottom: 0;
}

#car-videos-carousel {
    width: 100%;
    height: 100%;
    display: initial;
}

#car-videos-carousel > .carousel-inner {
    max-height: 100%;
    height: 100%;
}

.video-item {
    height: 95%;
}

.car-description-img {
    max-width: 80%;
}

.video-carousel-control {
    height: 50%;
    top: 25%;
}

.edit-car-picture {
    margin-top: 15px;
}

#index-jumbotron {
    padding: 0;
}

.language-flag {
    max-height: 35px;
    max-width: 35px;
    margin: 5px;
}

.close {
    font-size: 50px !important;
}

.technology-stack img {
    max-height: 150px;
    min-height: 20px;
    max-width: 280px;
    min-width: 50px;
}

.technology-stack .row {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: #337ab7 !important;
}

.technology-stack-inner-logo div {
    padding-right: 0;
    padding-left: 0;
}

.grid {
    padding: 2% 1% 0 1%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.grid li {
    display: inline-block;
    margin: 0;
    padding: 1%;
    text-align: left;
    position: relative;
    max-width: 100%;
    width: auto;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
}

.grid figcaption h3 {
    color: #fff;
    margin-top: 300px;
    font-weight: 600;
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #337ab7;
    color: #fff;
    position: absolute;
    bottom: 5px;
    top: 115px;
    left: 10px;
    margin-right: 10px;
}

.cookies-policy-main-container {
    padding-left: 0;
    padding-right: 0;
}

.toggle-button {
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    text-decoration: none;
    color: #ffffff;
    background: #337ab7 none;
    border-radius: 4px;
}

.toggle-button:hover {
    background-color: #23547D !important;
    color: #ffffff !important;
}

.toggle-button i {
    font-size: 45px;
    padding-left: 4px;
    padding-right: 3px;
}

.toggle-button i:hover {
    color: #ffffff !important;
}

.back-to-top {
    display: none;
    opacity: 0.8;
}

.car-edit-container {
    width: 95%;
}

#cars-per-page-dropdown {
    padding: 10px;
    margin-top: 15px
}

.delete-picture-btn {
    margin-top: 15px;
}