@CHARSET "ISO-8859-1";

html, body 
{
  height: 100%;
  font-size: 16px;
}

.pagani-history-navbar .navbar-nav > li > a:hover,
.pagani-history-navbar .navbar-nav > li > div > div > a:hover,
.pagani-history-navbar .navbar-nav > .open > a,
.pagani-history-navbar .navbar-nav > .open > a:hover,
.pagani-history-navbar .navbar-nav > .open > a:focus
{
	color: #BD1B1B;
	font-weight: 600;
}

.pagani-history-navbar
{
	min-height: 70px;
}

.pagani-history-navbar-brand
{
	padding-top: 3px;
	min-height: 100px;
}

.pagani-history-navbar .navbar-nav > li > a,
.pagani-history-navbar .navbar-nav > li > div > div
{
	padding-top: 22px;
	padding-bottom: 0px;
}


.pagani-history-navbar .navbar-nav > li > form
{
	padding-top: 15px;
	padding-left: 20px;
}

.main-logo
{
	height: 90px;
	padding-top: 15px;
}

.navbar-default .navbar-nav > li > div > div > a
{
	color: #777;
	cursor : default;
	text-decoration: none;
}

#mainNavbarCollapse
{
	margin-top: 15px;
}

#search-container
{
	min-width: 520px;	
	width: auto;
	min-height: 75px;
	padding-left: 15px;
}

.content-search-input
 {
   transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   background: rgb(255, 255, 255);
}

.content-search-input + label .search-icon
{
	color: black;
}

.content-search-input:hover
{
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    .content-search-input + label .search-icon
    {
       color: white;
    }
}

.content-search-input:focus
{
    transition: width 0.6s cubic-bezier(0,1.22,.66,1.39), border-radius 0.6s, background 0.6s ease;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border: 1px auto;
    border-radius: auto;
    border-color: #BD1B1B;
    background: rgb(255, 255, 255);
    color: #BD1B1B;
    .content-search-input + label .search-icon
    {
        color: black;
    }
}

@media (max-width: 575px)
{
	#search-container
	{
		min-width: 400px;
	}
	
	.content-search-input:focus
	{
		width: 250px;
	}
}
  
.content-search-input:not(:focus)
{
	/* for more-graceful falling back (:not browsers likely support indent) */
    text-indent:-5000px;
}

.search-icon
{
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

.cursor-pointer
{
	cursor: pointer;	
}

.blue
{
	color: #00B8FF;
}

.italic-font
{
	font-style: italic;
}

.measure-unit-text
{
	color: #3E72B4;
	font-style : normal;
}

.wrap 
{
  min-height: 100%;
  height: auto;  
  /* Negative indent footer by its height */
  margin: 0 auto -300px;
  /* Pad bottom by footer height */
  padding: 0 0 300px;
  background-color: rgba(0, 0, 0, 0.611765);
}

.language-selection-div
{
	width: 180px;
}

.pagani-history-footer
{
  height: 300px;
  background-color: #f5f5f5;
  padding : 40px;
}

.cars-list-group
{
	padding-left: 4px;
}

.car-picture-modal-dialog
{
	width: initial;
}

.car-picture
{	
  	display : block;
    margin : auto;
}

.center-block
{
	float: none !important
}

.cars-main-container
{
	padding-top: 10px;
	padding-right: 20px;
	min-height: 90%;
	min-width: 85%;
}

.preview > div
{	
	padding: 0px;
}

.preview-div
{
	background-color: #f5f5f5;
	padding: 0px;
}

.preview-outer
{
	padding-right: 1.3% !important;
	padding-left: 1.3% !important;
}

.preview-img
{
	width: auto;
	max-width: 420px;
	height: auto;
	max-height: 420px;
}

.preview figure img 
{
	z-index: 10;
}

.preview figcaption 
{
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	box-shadow: 0 0 0 0px #2c3f52;
}

.no-touch .preview figure:hover figcaption,
.preview figure.cs-hover figcaption 
{
	opacity: 1;
	height: 110%;
	box-shadow: 0 0 0 10px #2c3f52;
}

.preview figcaption h3,
.preview figcaption span,
.preview figcaption a 
{
	opacity: 0;
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	transition: opacity 0s;
}

.no-touch .preview figure:hover figcaption h3,
.no-touch .preview figure:hover figcaption a,
.preview figure.cs-hover figcaption h3,
.preview figure.cs-hover figcaption a 
{
	-webkit-transition: opacity 0.3s 0.2s;
	-moz-transition: opacity 0.3s 0.2s;
	transition: opacity 0.3s 0.2s;
	opacity: 1;
}

.vertically-aligned-div
{
	display: flex;
	flex-direction: row;
	min-height: 100%;
	max-height: 100%;
	max-width: 100%;
	align-items: center;
}

/* Target Firefox only */
/* TODO: investigate how CSS flex properties work in Firefox (http://stackoverflow.com/questions/27967090/how-do-you-prevent-an-image-from-expanding-beyond-its-container) */
@-moz-document url-prefix()
{
	.vertically-aligned-div
	{
		display: block;
		min-height: 100%;
		max-height: 100%;
		max-width: 100%;
	}
}

.vertically-aligned-preview-div
{
	min-height: 420px;
	height: auto;
	max-height: 500px;
	padding: 0px !important;	
}

.main-panel
{
	background-color: #f5f5f5;
}

.panel-default > .panel-heading
{
	border-color: rgba(0, 0, 0, 0.611765);	
}

.dl-horizontal dd
{
 	height: 25px; 
	margin-bottom: 3px;
}

.dl-horizontal dt
{	
	margin-bottom: 3px;
}

.dl-horizontal-edit dd
{
	height: 38px; 
}

.dl-horizontal-edit dt
{
	height: 38px; 
}

@media (min-width: 768px)
{
	.dl-horizontal dt
	{
		width: 220px;	
	}

	.dl-horizontal dd
	{
		margin-left: 229px;
	}
}

.dl-horizontal dd.double-height 
{
	height: 55px;
}

.dl-horizontal dt.double-height 
{
	height: 55px;
}

.carousel
{	
	min-height: initial;
}

.car-pictures-carousel-div
{	
	height: 865px;	
	max-height: 865px;	
	padding-left: 0px;
	padding-right: 0px;
}

.carousel-inner > .item > a > img
{
	/*centers images in the carousel */
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 850px;
}

.carousel-inner > .item > img
{
	/*centers images in the carousel */
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 850px;
}

#index-jumbotron
{
	padding: 0px;
}

.language-flag
{
	max-height: 35px;
	max-width: 35px;
}

.close
{
	font-size: 31px;
}

.technology-stack img
{
	max-height: 150px;
	min-height: 20px;
	max-width: 280px;
	min-width: 50px;
}

.technology-stack .row
{
	margin-top: 30px;
	margin-left: 10px; 
	margin-right: 10px; 
}
	
.technology-stack-inner-logo div
{	
	padding-right: 0px;
	padding-left: 0px;
}

.grid
{
	padding: 2% 1% 0px 1%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li
{
	display: inline-block;
	margin: 0;
	padding: 1%;
	text-align: left;
	position: relative;
	max-width: 100%;
	width: auto;
}

.grid figure
{
	margin: 0;
	position: relative;
}

.grid figure img 
{
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption 
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 
{		
	color: #fff;
	margin-top: 300px;
}

.grid figcaption a 
{
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #337ab7;
	color: #fff;
	position: absolute;
	bottom: 5px;
	top: 125px;
	left: 10px;
}

/*
*********************** Mobile Content ***********************
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and ( min--moz-device-pixel-ratio: 2),
	   only screen and ( -o-min-device-pixel-ratio: 2/1),
	   only screen and ( min-device-pixel-ratio: 2),
	   only screen and ( min-resolution: 192dpi),
	   only screen and ( min-resolution: 2dppx) 
{
	
	html, body
	{
  		height: 100%;
  		font-size: 22px;
	}
	
	.wrap   
	{
		/* So that it looks just vertically centered once the browser's navigation bar is hidden */
  		min-height: 95%;
	}

	#main-container
	{
		min-width: 95%;
		width: 95%;
	}
	
	.pagani-history-navbar .navbar-header
	{
		padding-top: 10px;
		min-height: 110px;
	}
	
	.pagani-history-navbar .navbar-nav>li>a
	{
		padding-top: 30px;
	}	
	
	.pagani-history-navbar-brand
	{
		font-size: 26px;		
		width: 80%;		
		max-width: 600px;
	}
	
	.main-logo
	{
		height: 90px;
	}

	.language-selection-div
	{
		width: 230px;
	}

	.pagani-history-footer
	{
		height: auto;
  		max-height: 750px;
	}
	
	@media (min-width: 768px)
	{
		.dl-horizontal dt
		{
			width: 360px;	
		}

		.dl-horizontal dd
		{
			margin-left: 369px;
		}
	}
	
	.dl-horizontal dd
	{
		height: 40px;
		margin-bottom: 10px;
	}

	.dl-horizontal dt
	{	
		height: 40px;
		margin-bottom: 10px;
	}
	
	a
	{
		font-size: 22px;
	}
	
	.language-flag
	{
		max-height: 55px;
		max-width: 55px;
	}
	
	.model-list-group-element
	{
		font-size: 20px;
	}
	
	.car-model-name
	{
		font-size: 36px;
	}
	
	.car-details-panel-heading-model
	{
		font-size: 36px;
	}
	
	.car-details-panel-heading-model-small
	{
		font-size: 26px;
	}
	
	.car-details-panel-heading
	{
		font-size: 32px;
	}
	
	.close
	{
		font-size: 50px;
	}

	.modal-title
	{
		font-size: 36px;
	}	
	
	.technology-stack-inner-logo-div
	{		
		width: 60%;
	}
	
	.grid li 
	{
		width: 100%;
		min-width: 300px;
	}

	.grid figcaption h3 
	{
		margin-top: 100%;
		font-size: 28px;
	}

	.grid figcaption a 
	{		
		top: 50%;
	}

	.vertically-aligned-preview-div
	{
		min-height: 220px;
		height: auto;
		max-height: 500px;
		padding: 0px !important;	
		margin-top: 8%;		
		margin-bottom: 8%;	
	}

	.no-touch .preview figure:hover figcaption,
	.preview figure.cs-hover figcaption 
	{		
		height: 120%;
	}

	.preview-outer
	{
		padding-right: 2% !important;
		padding-left: 2% !important;
	}
}
